allow platform_app time_daemon:unix_stream_socket connectto;
allow platform_app qemu_hw_mainkeys_prop:file { getattr open write };
allow platform_app qemu_hw_mainkeys_prop:file read; 
